@import '~bootstrap/scss/bootstrap';

.body {
height: 100%;
color: #fae4ad;
text-align: center;
align-items: center;
min-height: 100vh;
min-width: 100vw;
padding-top: 5rem;
// background-image: url('./felt-bg.jpg');
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
// margin-bottom: 100px;
}

.subject-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .subject-container:hover {
    transform: scale(1.05);
  }

  .padding {
    padding-top: 10px;
  }
